.card {
    max-width: auto;
    margin: 20px;
    padding: 30px 30px 30px 30px;
    border: none;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.card h1 {
    color: red;
}

.table {
    max-width: auto;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}



